<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
    <th scope="col">No.</th>
    <th scope="col">Name</th>
    <th scope="col" style="text-align:center;">Score</th>
    <th scope="col" style="text-align:center;">&#8377 / Score</th>
    <th scope="col" style="text-align:center;">Country</th>
    <th scope="col" style="text-align:center;">Type</th>
    <th scope="col" style="text-align:center;">Owner</th>
    <th scope="col" style="text-align:center;">Price</th>
    <th scope="col" style="text-align:center;">Value</th>
    <th scope="col" style="text-align:center;">&#8377 / Value</th>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td>{{ loop.index }}</td>
        <td style="font-weight:bold;">
            <a href="{{ url_for('main.player_profile', player_id=player.doc_id) }}"
               style="text-decoration:none !important; color:inherit">
                {% if 'captain' in player.tags %}
                <div  class="text-primary">{{ player.name }}</div>
                {% elif 'backup' in player.tags %}
                <div  class="text-warning">{{ player.name }}</div>
                {% elif 'injury' in player.tags %}
                <div  class="text-danger">{{ player.name }}</div>
                {% else  %}
                <div  class="text-dark">{{ player.name }}</div>
                {% endif %}
            </a>
        </td>
        <td style="text-align:center; font-weight:bold;">
            {{ player.score }}
        </td>
        <td style="text-align:center; font-weight:bold;">
            {{ player.avg_score }}
        </td>
        <td  style="background-color:{{ player.bg_color }}; color:{{ player.color }}; font-weight:bold;text-align:center;">
            <a href="{{ url_for('main.player_search', q=player.country_code.lower()) }}"
               style="text-decoration:none !important; color:inherit;">
                <div>{{ player.country_code.upper() }}</div>
            </a>
        </td>
        <td style="text-align:center;">
            <a href="{{ url_for('main.player_search', q=player.type.lower()) }}"
               style="text-decoration:none !important; color:inherit;">
                {{ player.type }}
            </a>
        </td>
        {% if player.owner_username %}
        <td style="background-color:{{ player.owner['bg_color'] }}; color:{{ player.owner['color'] }}; font-weight:bold;text-align:center;">
            <a href="{{ url_for('main.purchased_players', username=player.owner_username) }}"
               style="text-decoration:none !important; color:inherit;">
                <div>{{ player.owner_username.upper() }}</div>
            </a>
        </td>
        {% else %}
        <td style="text-align:center;">-</td>
        {% endif %}
        <td style="text-align:center; font-weight:bold;">
            {{ player.price }}
        </td>
        <td style="text-align:center; font-weight:bold;">
            {{ player.value }}
        </td>
        <td style="text-align:center; font-weight:bold;">
            {{ player.avg_value }}
        </td>
    </tr>
    {% endfor %}
    <tr style="text-align:center; font-weight:bold;">
        <td></td>
        <td style="text-align:left;">
            Summary
        </td>
        <td>{{ summary.score }}</td>
        <td>{{ summary.avg_score }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ summary.price }}</td>
        <td>{{ summary.value }}</td>
        <td>{{ summary.avg_value }}</td>
    </tr>
    </tbody>
</table>
