{% extends "base.html" %}

{% block app_content %}
<h3>
    Available Players
</h3>
{% if players %}
{% include '_pagination.html' %}
<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
    <th scope="col">Bid No.</th>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col" style="text-align:center">Value</th>
    <th scope="col">Country</th>
    <th scope="col">Tags</th>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td>{{ player.bid_order }}</td>
        <td>
            <a href="{{ url_for('main.player_profile', player_id=player.doc_id) }}"
               style="text-decoration:none !important; color:inherit">
                <div>{{ player.name }}</div>
            </a>
        </td>
        <td>{{ player.type }}</td>
        <td style="text-align:center">
            {{ player.value }}
        </td>
        <td  style="background-color:{{ player.bg_color }}; color:{{ player.color }}; font-weight:bold;">
            {{ player.country }}
        </td>
        <td>
            {% for tag in player.tags %}
            <span class="badge badge-info">{{ tag }}</span>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No players available for auction.</p>
{% endif %}
{% endblock %}