{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}
{{ title }} - WCSL
{% else %}
World Cup Super League
{% endif %}
{% endblock %}

{% block navbar %}
<div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            {% if current_user.is_authenticated %}
            <div style="background-color:{{ current_user.bg_color }};
                        color:{{ current_user.color }};
                        font-weight:bold;
                        border-radius: 50%;
                        height: 30px;
                        width: 33px;
                        font-size: 17px;
                        text-align: center;
                        display: table;
                    ">
                <div style="display: table-cell; vertical-align:middle">
                    {{ current_user.username.upper() }}
                </div>
            </div>
            {% else %}
            WCSL
            {% endif %}
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<br>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}