{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h4>
    {{ bid.player_name }}
</h4>

{% if form %}
    {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg',0,5)) }}
<p>
    Suggested Bid Price is &#8377 <strong>{{ g.game.avg_player_bid }}</strong> lacs.
</p>
<p>
    Your balance is &#8377 <strong>{{ current_user.balance }}</strong> lacs.
</p>
{% endif %}

{% if player %}
{% include '_player_profile.html' %}
{% endif %}

{% endblock %}