{% extends "base.html" %}

{% block app_content %}
<h4>
    World Cup Super League - Rankings
</h4>
<br>
{% if users %}
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <th scope="col" style="text-align:center;">Rank</th>
    <th scope="col">Name</th>
    <th scope="col" style="text-align:center;">Points</th>
    <th scope="col" style="text-align:center;">Balance</th>
    <th scope="col" style="text-align:center;">Players</th>
    </thead>
    <tbody>
    {% for user in users %}
    <tr style="font-weight:bold;text-align:center;">
        <td>{{ loop.index }}</td>
        <td style="background-color:{{ user.bg_color }}; color:{{ user.color }}; text-align:left;">
            <a href="{{ url_for('main.purchased_players', username=user.username) }}"
                style="text-decoration:none !important; color:inherit;">
                <div>{{ user.name }}</div>
            </a>
        </td>
        <td>{{ user.points }}</td>
        <td>{{ user.balance }}</td>
        <td>{{ user.player_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No users present.</p>
{% endif %}
{% endblock %}