{% extends "base.html" %}

{% block app_content %}
<h1>
    World Cup Super League - Players
</h1>
{% if players %}
<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
    <th scope="col">No.</th>
    <th scope="col">Name</th>
    <th scope="col">Score</th>
    <th scope="col">Price</th>
    <th scope="col">Country</th>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>
            <a href="{{ url_for('main.player_profile', player_id=player.doc_id) }}"
               style="text-decoration:none !important; color:inherit">
                <div>{{ player.name }}</div>
            </a>
        </td>
        <td>{{ player.score }}</td>
        <td>{{ player.price }}</td>
        <td  style="background-color:{{ player.bg_color }}; color:{{ player.color }}; font-weight:bold;">
            {{ player.country }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No players purchased.</p>
{% endif %}
{% endblock %}