{% extends "base.html" %}

{% block app_content %}
{% if players %}
<h3>
    Players
    with tags
    {% for tag in tags %}
    <span class="badge badge-info">{{ tag }}</span>
    {% endfor %}
</h3>


<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
    <th scope="col">No.</th>
    <th scope="col">Name</th>
    <th scope="col" style="text-align:center;">Score</th>
    <th scope="col" style="text-align:center;">Value</th>
    <th scope="col" style="text-align:center;">M</th>
    <th scope="col" style="text-align:center;">O</th>
    <th scope="col" style="text-align:center;">R</th>
    <th scope="col" style="text-align:center;">W</th>
    <th scope="col" style="text-align:center;">Country</th>
    <th scope="col">Type</th>
    <th scope="col" style="text-align:center;">Owner</th>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>
            <a href="{{ url_for('main.player_profile', player_id=player.doc_id) }}"
               style="text-decoration:none !important; color:inherit">
                {% if 'captain' in player.tags %}
                <div  class="text-primary">{{ player.name }}</div>
                {% elif 'backup' in player.tags %}
                <div  class="text-warning">{{ player.name }}</div>
                {% elif 'injury' in player.tags %}
                <div  class="text-danger">{{ player.name }}</div>
                {% else  %}
                <div  class="text-dark">{{ player.name }}</div>
                {% endif %}
            </a>
        </td>
        <td style="text-align:center; font-weight:bold;">
            {{ player.score }}
        </td>
        <td style="text-align:center; font-weight:bold;">
            {{ player.value }}
        </td>
        <td style="text-align:center">
            {{ player.matches }}
        </td>
        <td style="text-align:center">
            {{ player.overs_per_match }}
        </td>
        <td style="text-align:center">
            {{ player.runs_per_match }}
        </td>
        <td style="text-align:center">
            {{ player.wickets_per_match }}
        </td>
        <td  style="background-color:{{ player.bg_color }}; color:{{ player.color }}; font-weight:bold;text-align:center;">
            <a href="{{ url_for('main.player_search', q=player.country_code.lower()) }}"
               style="text-decoration:none !important; color:inherit;">
                <div>{{ player.country_code.upper() }}</div>
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.player_search', q=player.type.lower()) }}"
               style="text-decoration:none !important; color:inherit;">
                {{ player.type }}
            </a>
        </td>
        {% if player.owner_username %}
        <td style="background-color:{{ player.owner['bg_color'] }}; color:{{ player.owner['color'] }}; font-weight:bold;text-align:center;">
            <a href="{{ url_for('main.purchased_players', username=player.owner_username) }}"
               style="text-decoration:none !important; color:inherit;">
                <div>{{ player.owner_username.upper() }}</div>
            </a>
        </td>
        {% else %}
        <td style="text-align:center;">-</td>
        {% endif %}
    </tr>
    {% endfor %}
    <td></td>
    <td style="text-align:left; font-weight:bold;">
        Summary
    </td>
    <td style="text-align:center; font-weight:bold;">
        {{ summary.score }}
    </td>
    <td style="text-align:center; font-weight:bold;">
        {{ summary.value }}
    </td>
    <td style="text-align:center; font-weight:bold;">
        {{ summary.matches }}
    </td>
    <td style="text-align:center; font-weight:bold;">
        {{ summary.overs }}
    </td>
    <td style="text-align:center; font-weight:bold;">
        {{ summary.runs }}
    </td>
    <td style="text-align:center; font-weight:bold;">
        {{ summary.wickets }}
    </td>
    <td colspan="3"></td>
    </tbody>
</table>
{% else %}
<div class="alert alert-danger" role="alert">
    No results found based on your search.
</div>
<p>Here is some information on how to search for player in tags.</p>
<h4>Valid Tags</h4>
<table class="table table-bordered table-sm">
    <thead>
        <th scope="col">Category</th>
        <th scope="col">Tags</th>
    </thead>
    <tbody>
        <tr>
            <td>Country</td>
            <td>
                {% for tag in help.countries %}
                <span class="badge badge-info">{{ tag }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Player Type</td>
            <td>
                {% for tag in help.types %}
                <span class="badge badge-info">{{ tag }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>General</td>
            <td>
                {% for tag in help.others %}
                <span class="badge badge-info">{{ tag }}</span>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<h4>Notes</h4>
<table class="table table-bordered table-sm">
    <thead>
    <th scope="col">Type</th>
    <th scope="col">Description</th>
    <th scope="col">Example</th>
    <th scope="col">Result</th>
    </thead>
    <tr>
        <th scope="row">AND</th>
        <td>
            Multiple tags should be separated by a semi colon (;).
            A maximum of 10 tags can be used for search.
        </td>
        <td><kbd>ind;opener</kbd></td>
        <td>Will return all opening batsman from India.</td>
    </tr>
    <tr>
        <th scope="row">NOT</th>
        <td>Prefix the tag with a dash (-) to get the result which exclude that tag.</td>
        <td><kbd>sa;-backup</kbd></td>
        <td>Will return the playing XI of South Africa</td>
    </tr>
    <tr>
        <th scope="row">OR</th>
        <td>All the tags are combined in an AND condition by default. For an OR condition use the NOT operator.</td>
        <td><kbd>-sl;-wi;-afg;-aus;-nz;-sa;-eng;-ban</kbd></td>
        <td>Will return the complete teams of India and Pakistan</td>
    </tr>
</table>
{% endif %}
{% endblock %}